<div class="row-fluid">
	<div class="span3">

		<%= image_tag(@user.avatar, :class => 'img-rounded') if @user.avatar? %>
		<h3><%= @user.name %></h3>
		<p>Email: <%= @user.email if @user.email %></p>
		<h4><%= @user.location if @user.location? %></h4>
		<p><%= @user.about if @user.about? %></p>
		
		<p><%= link_to "Facebook", url_with_protocol(@user.facebook), :target => '_blank' if @user.facebook? %></p>
		<p><%= link_to "Twitter", url_with_protocol(@user.twitter), :target => '_blank' if @user.twitter? %></p>
		<p><%= link_to "Website", url_with_protocol(@user.website), :target => '_blank' if @user.website? %></p>
<h4>
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
	</h4>
	</div>
</div>