<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
  <h2> FB Data </h2>
  <p> <%= user.email %></p>
  <p> <%= user.first_name %> </p>
  <p><%= user.last_name %> </p>
<%= image_tag(@post.image, :class => 'img-rounded') if @post.image ? %>
  <p> <%= user.link %> <p>
<% end %>
