<%= simple_form_for [@user, @post] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :tag %>
    <%= f.input :content %>

    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </p>
    <%= f.input :category, :label => "Categories", :collection => [ 'Random', 'Religious', 'Family', 'Love'], :default => "Random" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
