
<div class="container">

<div class="row-fluid postrow" >

<% @posts.each_with_index do |post,index| %>

<% if index%3 != 0 %>
        <div class="span4 postbox" >
            <span class= "postext">
                <h3 class ="posthead"> <%= post.title %></h3>
               
                <% if post.tag? %>
                <h4># <%= post.tag %></h4><br>
                <%end %>

                <h4> <small> </small></h4>
         <div class="container">
                <h4> <%= post.content %></h4>
            </div>
               <h4 class=><small>   <%= post.user.name.capitalize %> <%= time_ago_in_words(post.created_at) %> ago</h4></small>

            <%= link_to  like_post_path(post), :method => :post, :class=>"editlike pull-right" do %>

            <%=post.likes.size %><i class="icon-heart heart"></i><%end %>
        
          <%= link_to 'Edit', edit_post_path(post), :class => 'editlike pull-left'%>

        </div>
<% else %>

</div>
    <div class="row-fluid postrow">
        <div class="span4 postbox" >
            <span class= "postext">
                <h3 class ="posthead"> <%= post.title %></h3>
               
                <% if post.tag? %>
                <h4># <%= post.tag %></h4><br>
                <%end %>

                <h4> <small> </small></h4>
         <div class="container">
                <h4> <%= post.content %></h4>
            </div>
               <h4 class=><small>   <%= post.user.name.capitalize %> <%= time_ago_in_words(post.created_at) %> ago</h4></small>

            <%= link_to  like_post_path(post.user,post), :method => :post, :class=>"editlike pull-right" do %>

            <%=post.likes.size %><i class="icon-heart heart"></i><%end %>
        
          <%= link_to 'Edit', edit_post_path(post), :class => 'editlike pull-left'%>

        </div>
<%end%>
<% end %>

</div>
</div>


</body>

