<br>


<div class="row-fluid postrow">

<% @posts.each_with_index do |post,index| %>

<% if index%3 != 0 %>
        <div class="span4 postbox" >
            <div class= "postext">
                <h3 class ="posthead"> <%= link_to post.title, post_path(post) %>

                    <%if user_signed_in? %>
        <% if current_user == post.user %>
          <%= link_to  edit_post_path(post), :class => 'editlike pull-right icon-pencil' ,:style=>"font-size:18px;" do%>
          
        <%end end end%></h3>

                <% if post.tag? %>
                <h5># <%= post.tag %></h5>
                <%end %>

        
                <h5> <%= post.content %></h5>
            </div>
                 <h4 ><small> By:
                  <%=link_to post.user.name.capitalize, user_path(post.user) %>   <%= time_ago_in_words(post.created_at) %> ago
                </small></h4>

             <%= link_to  likeunlike_post_path(post), :method => :put  do%>
<i class="icon-heart heart pull-right icon-2x" > <span style="font-size:13px;"><%= post.votes_for %></span></i>

<%end%>
        
         
          <br>
                    

      </div>
<% else %>

</div>
    <div class="row-fluid postrow">
        <div class="span4 postbox">
         <div class= "postext">
          <h3 class ="posthead"> <%= link_to post.title, post_path(post) %>   
            <%if user_signed_in? %>
        <% if current_user == post.user %>
          <%= link_to  edit_post_path(post), :class => 'editlike pull-right icon-pencil' ,:style=>"font-size:18px;" do%>
          
        <%end end end%></h3>

           
                
                <% if post.tag? %>
                <h5># <%= post.tag %></h5>
                <%end %>

                
                <h5> <%= post.content %></h5>
            </div>
               <h4 ><small>   By: <%=link_to post.user.name.capitalize, user_path(post.user) %> <%= time_ago_in_words(post.created_at) %> ago
             </small></h4>

          

                   <%= link_to  likeunlike_post_path(post), :method => :put  do%>
<i class="icon-heart heart pull-right icon-2x" > <span style="font-size:13px;"><%= post.votes_for %></span></i>
<%end%>

     
        </div>
            <%end%>
            <% end %>
            

</div>


<div class="paggy">


  <%= will_paginate @posts , :page_links => false, :class => "btn btn-inverse pull-right" %>

</div>


