<h1>Listing posts</h1>
<br>
<% @posts.each do |post| %>

<h4> Post Title:</h4><%= post.title %><br>
<h4> Post Tags:</h4><%= post.tag %><br>
<h4> Post Content:</h4><%= post.content %><br>
<h4> Post Author:</h4><%= post.user.name %><br><br>

<%= link_to 'Edit', edit_user_post_path(post.user, post), :class => 'btn btn-warning'%>
<%= link_to "Back", user_posts_path(post.user) ,:class => 'btn btn-info'%>
        <%= link_to 'Like', like_user_post_path(post.user,post), :method => :post, :class => 'btn' %>
Likes: <%= post.likes.size %>
<% end %>

<br><br>
<%= link_to 'New Post', new_user_post_path(@user) , :class=>'btn btn-success'%>

<%= will_paginate @posts %>

